<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng kí tài khoản mới</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-input [(ngModel)]="fullName" type="text" label="Họ tên" label-placement="floating" fill="outline"
      placeholder="Hãy nhập họ tên"></ion-input>
    <ion-input [(ngModel)]="email" type="email" label="Email" label-placement="floating" fill="outline"
      placeholder="Hãy nhập email"></ion-input>
    <ion-input [(ngModel)]="password" type="password" fill="outline" label="Mật khẩu" label-placement="floating"
      placeholder="Hãy nhập mật khẩu" required></ion-input>
    <ion-input [(ngModel)]="telephone" label="Số điện thoại" label-placement="floating" fill="outline"
      placeholder="Hãy nhập số điện thoại"></ion-input>

    <!-- Chỉ một trường nhập cho địa chỉ -->
    <ion-input [(ngModel)]="addressContent" type="text" fill="outline" label="Địa chỉ" label-placement="floating"
      placeholder="Hãy nhập địa chỉ" required></ion-input>

    <!-- Nút đăng ký -->
    <ion-button (click)="register()" expand="block" fill="outline" shape="round">
      đăng kí
    </ion-button>
  </div>
</ion-content>
