.form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
}

ion-input {
    margin-top: 10px;
    margin-bottom: 10px;
}