<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Thông tin cá nhân</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <ion-avatar>
      <img src="../../assets/dummy-pic.avif" alt="Profile Picture">
    </ion-avatar>
    <ion-label class="profile-name">Bùi Minh Liên</ion-label>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" value="Bùi Minh Liên"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" value="minhlien2077@gmail.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Điện thoại</ion-label>
      <ion-input type="tel" value="+84792789138"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mật khẩu hiện tại</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mật khẩu mới</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nhập lại mật khẩu</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>
  </ion-list>

  <div class="update-button">
    <ion-button (click)="UpdateProfile()" expand="block" color="dark">Cập nhật thông tin</ion-button>
  </div>
</ion-content>
