<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Giỏ hàng</ion-title>
    </ion-card-header>
  </ion-card>

  <!-- Thông tin vận chuyển -->
  <ion-card>
    <ion-card-header>
      <ion-label>Thông tin vận chuyển</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label (click)="openAddressSelector()">
          <h2>{{ selectedAddress?.title || 'Chưa có địa chỉ' }}</h2>
          <p>{{ selectedAddress?.content || 'Nội dung địa chỉ' }}</p>
          <p>Số điện thoại: {{ telephone }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Chi tiết đơn hàng -->
  <ion-card>
    <ion-card-header>
      <ion-label>Chi tiết đơn hàng</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let product of selectedProducts; let i = index">
          <ion-item>
            <ion-label>
              <h2>{{ product.name }}</h2>
              <p>{{ product.category }}</p>
              <p>₫{{ product.price | number: '1.2-2' }}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="decreaseQuantity(i)">−</ion-button>
              <ion-label>{{ product.quantity }}</ion-label>
              <ion-button (click)="increaseQuantity(i)">+</ion-button>
            </ion-buttons>
          </ion-item>
        </ng-container>
      </ion-list>

      <!-- Tổng cộng -->
      <ion-item>
        <ion-label>Tổng cộng</ion-label>
        <ion-label slot="end">₫{{ getTotalPrice() | number: '1.2-2' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Thanh toán -->
  <ion-card>
    <ion-card-header>
      <ion-label>Thanh toán</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Thanh toán khi nhận hàng</ion-label>
        <ion-toggle slot="end" checked></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-paypal" slot="start"></ion-icon>
        <ion-label>Cash on Delivery</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary" (click)="confirmOrder()">Mua Hàng</ion-button>
</ion-content>
