<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Giỏ hàng</ion-title>
    </ion-card-header>
  </ion-card>

  <!-- Thông tin vận chuyển -->
  <ion-card>
    <ion-card-header>
      <ion-label>Thông tin vận chuyển</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label (click)="openAddressSelector()">
          <h2>Địa chỉ nhận hàng</h2>
          <p><span>{{ selectedAddress?.title || 'Chưa chọn địa chỉ' }}</span></p>
          <p>{{ selectedAddress?.content || '' }}</p>
          <p>Số điện thoại: {{ telephone }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Chi tiết đơn hàng -->
  <ion-card>
    <ion-card-header>
      <ion-label>Chi tiết đơn hàng</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="selectedProduct.length > 0">
        <ng-container *ngFor="let selectedProduct of selectedProduct; let i = index">
          <ion-item>
            <ion-label>
              <h2>{{ selectedProduct.name }}</h2>
              <p>{{ selectedProduct.category }}</p>
              <p>₫{{ selectedProduct.price | number: '1.2-2' }}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="decreaseQuantity(i)">−</ion-button>
              <ion-label>{{ selectedProduct.quantity }}</ion-label>
              <ion-button (click)="increaseQuantity(i)">+</ion-button>
            </ion-buttons>
          </ion-item>
        </ng-container>
      </ion-list>
      
      <!-- Thông tin giá -->
      <ion-item>
        <ion-label>Tổng hóa đơn</ion-label>
        <ion-label slot="end">₫{{ getTotalPrice() | number: '1.2-2' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Giảm giá</ion-label>
        <ion-label slot="end">₫{{ discount | number: '1.2-2' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Vận chuyển</ion-label>
        <ion-label slot="end">Free</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tổng cộng</ion-label>
        <ion-label slot="end">₫{{ getTotalPrice() - discount | number: '1.2-2' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Thanh toán -->
  <ion-card>
    <ion-card-header>
      <ion-label>Thanh toán</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Thanh toán khi nhận hàng</ion-label>
        <ion-toggle slot="end" checked></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-paypal" slot="start"></ion-icon>
        <ion-label>Cash on Delivery</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary" (click)="confirmOrder()">Mua Hàng</ion-button>
</ion-content>
