<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Chi Tiết sản phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chi Tiết sản phẩm</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Hình Ảnh Sản Phẩm --> 
  <img [src]="productData?.imageUrl" [alt]="productData?.title">
    <ion-card>
      <!--Phần tiêu đề và giá -->
      <ion-card-header>
        <ion-card-title>{{productData?.title}}</ion-card-title>
        <p class="original-price"><s>$9.99</s> - <span class="current-price">{{productData?.price | currency:'VND'}}</span></p>

      </ion-card-header>
      <ion-card-content>
        <div class="price-section">
          <p class="description">Mô tả</p>
          <p>{{productData?.description}}</p>
        </div>
  
        <!-- Chọn Số Lượng -->
        <ion-item>
          <ion-label>Số lượng</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="decrementQuantity()">−</ion-button>
            <ion-label>{{quantity}}</ion-label>
            <ion-button (click)="incrementQuantity()">+</ion-button>
          </ion-buttons>
        </ion-item>
  
        <!-- Nút Thêm Vào Giỏ Hàng -->
        <ion-button expand="full" color="primary" (click)="AddToCart()">Mua</ion-button>
  
        
        <!-- Chi Tiết Sản Phẩm -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Chi tiết sản phẩm</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Loại: </strong>{{productData?.type}}</p>
            <p><strong>Danh mục: </strong> {{productData?.categoriId}}</p>
          </ion-card-content>
        </ion-card>
  
      </ion-card-content>
    </ion-card>
</ion-content>
