<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sản phẩm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="card-container">
  <p style="position: absolute; z-index: -2; left: 30px;">Đang tải...</p>

  <app-product-card class="small-card"
  *ngFor="let product of products"
    [productId]="product.key"
    [title]="product.title"
    [imageUrl]="product.imageUrl"
    [description]="product.description"
    [price]="product.price"
    [type]="product.type">
    
  </app-product-card>
</div>

</ion-content>