<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Trang chủ
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="bag-handle-outline"></ion-icon>
      Danh mục
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      Giỏ hàng
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      Thông báo
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Tài khoản
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>