<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chi Tiết Hóa Đơn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mã Hóa Đơn: {{ order.orderId }}</ion-card-title>
      <p>Ngày Mua: {{ order.createAt | date:'dd/MM/yyyy' }}</p>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let product of order.products">
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Danh Mục: {{ product.category }}</p>
          <p>Giá: {{ product.price | currency:'VND' }}</p>
          <p>Số Lượng: {{ product.quantity }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item lines="full">
      <ion-label>Tổng Giá</ion-label>
      <ion-note slot="end" color="primary">{{ order.totalAmount | currency:'VND' }}</ion-note>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label>Đánh Giá</ion-label>
      <ion-note slot="end" color="medium">{{ order.rating }} sao</ion-note>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label>Địa Chỉ</ion-label>
      <ion-note slot="end">{{ order.address.content }}</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Số Điện Thoại</ion-label>
      <ion-note slot="end">{{ order.telephone }}</ion-note>
    </ion-item>
  </ion-card>
  
  <ion-button (click)="reorder(order)" expand="block" fill="clear" shape="round">
    Mua lại
  </ion-button>
</ion-content>
