<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Đăng nhập</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">

    <ion-item>
      <ion-input [(ngModel)]="email" required type="email" label="Email" labelPlacement="floating" placeholder="Enter email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password" required type="password" label="Mật khẩu" labelPlacement="floating" placeholder="Enter password"><ion-input-password-toggle></ion-input-password-toggle></ion-input>
    </ion-item>

    <ion-button (click)="onLogin()" expand="full" fill="outline" shape="round">
      Submit
    </ion-button>
  </div>
  <div class="register">
    <ion-button fill="clear" size="small">
      Quên mật khẩu?
    </ion-button>
    <div class="text">
      <p>Chưa có tài khoản?</p>
      <ion-button fill="clear" class="btn_register" href="/register">
        Đăng kí
      </ion-button>
    </div>
  </div>
</ion-content>