<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>


  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-button slot="end" fill="clear">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header>
    <ion-toolbar>
      <ion-title>Toolbar</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
      <h1>icon-qr</h1>
    </ion-toolbar>
  </ion-header>



  <ion-header>
    <ion-toolbar>
      <ion-title>Danh mục</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="category-container">
      <div class="category-card" *ngFor="let category of categories">
        <div class="icon">
          <ion-icon [name]="category.icon"></ion-icon>
        </div>
        <div class="label">{{ category.label }}</div>
      </div>
    </div>

    <div class="card-container">
      <app-product-card class="small-card" *ngFor="let product of products" [title]="product.title"
        [imageUrl]="product.imageUrl" [description]="product.description">
      </app-product-card>
    </div>

  </ion-content>
</ion-content>




sdfds