<ion-content [fullscreen]="true">


  <ion-header>
    <ion-toolbar>
      <ion-title>Toolbar</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
      <h1>icon-qr</h1>
    </ion-toolbar>
  </ion-header>



  <ion-header>
    <ion-toolbar>
      <ion-title>Danh mục</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="category-container">
      <div class="category-card" *ngFor="let category of categories" (click)="loadProductByCate(category.key)">
        <div class="icon">
          <ion-icon [name]="category.icon"></ion-icon>
        </div>
        <div class="label">{{ category.label }}</div>
      </div>
    </div>

    <div class="card-container">
      <p style="position: absolute; z-index: -2; left: 30px;">Hỏng có gì hết ¯\_(ツ)_/¯ </p>
      <app-product-card class="small-card"
        *ngFor="let product of filteredProducts"
        [title]="product.title"
        [imageUrl]="product.imageUrl"
        [description]="product.description"
        [productId]="product.key"  
        [price]="product.price"
        [type]="product.type">    
      </app-product-card>
    </div>
  </ion-content>
</ion-content>