<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Thông báo</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-notification 
    *ngFor="let notification of notifications" 
    [title]="notification.title"
    [content]="notification.content"
    [deviceId]="deviceId"
    [notificationId]="notification.notificationId"
    [status]="notification.status">
  </app-notification>
</ion-content>