<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <ion-title>Chọn Địa Chỉ Giao Hàng</ion-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <!-- Phần chọn địa chỉ giao hàng -->
      <ion-label class="section-title">Địa Chỉ Giao Hàng</ion-label>
      <ion-radio-group [(ngModel)]="selectedAddress">
        <ng-container *ngFor="let address of address">
          <ion-item (click)="selectAddress(address)" lines="none">
            <ion-radio slot="start" [value]="address"></ion-radio>
            <ion-label>
              <h2>{{ address.title }}</h2>
              <p>{{ address.content }}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-radio-group>

      <ion-item lines="none" button>
        <ion-label color="primary"><a href="#">+ Thêm Địa Chỉ</a></ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
